backend/venv
backend/data
.vscode
backend/__pycache__
backend/config.py
backend/logs
frontend/node_modules
frontend/package-lock.json
backend/emails/media
backend/emails/__pycache__
backend/applications/__pycache__
backend/applications/tags
backend/applications/companies
