.studentNav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    color: rgb(30,30,30);
    height: calc(100vh - 32px);
    top: 0;
    left: 0;
    z-index: 900;
    padding: 16px;
    border-right: 1px solid rgb(200, 200, 200);
}

.teacherNav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    background-color: #00929C;
    color: white();
    height: calc(100vh - 32px);
    top: 0;
    left: 0;
    z-index: 900;
    padding: 16px;
}

.logo {
    max-width: 250px;
    max-height: 50px;
}

.logo_shrinked {
    width: 50px;
    max-height: 50px;
}

.top {
    gap: 12px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}

.navbutton {
    display: block;
}

.bottom {
    gap: 12px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}