.choosen {
    padding: 12px;
    color: white;
    background-color: #00C89C;
    border: 1px solid #00C89C
}

.nonChoosen {
    color: #00C89C;
    background-color: white;
    border: 1px solid #00C89C;
    padding: 12px;
}


.nonChoosen:hover {
    background-color: rgba(0, 200, 156, 0.2);
}
